@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");

.collections__one {
  background-image: url("https://s3-alpha-sig.figma.com/img/6c7c/29e7/7070630908039429318506a39732e089?Expires=1606694400&Signature=IfWmnanrIeRopErm1Nj~egFCpwIZWOEHwv7~QRXFbm1hGjKlA0Rbtqyp30OYyk2z~vWr3Y1jukRa4A8DJ16VzP2qcwEfOBYlpedIdkS0ngzLWeYP5Nrc4OohQpeF2FScFVIdu0oogGQlgot8AhrpM3c46mcfpxR049I77BohQYDiilK7TAXHHGvy0bLTBZyK8UGkSL3ijNMlE4cJMqfLl5K0oHJ6LosOezT1TIVk~kzbvzBGI3CFQyXBHTNiJU58jqTJkhgbL3HKYGEuxsYqRwrkeXYNQ7vhMz4AJkSeQ0yizZlykGsSw-lpJ~emRxdIvJgu-OdM-wY8HMGsd9wkmw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: top;
  width: 94%;
  background-position-y: -15rem;
  background-size: cover;
  height: 680px;
  margin: 0 auto 14px auto;
}

.contents {
  color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
  width: 100%;
}

.contents > h2 {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 20px;
  background-color: #ffffffc2;
  padding: 4px;
}

.highlight {
  color: #e10000;
}

.contents > button {
  background-color: #e10000;
  border: none;
  height: 50px;
  margin-top: 3rem;
  width: 240px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}

.collections__grid {
  display: flex;
}

.collections__two {
  background: url("https://s3-alpha-sig.figma.com/img/3e59/1a0c/0922bd4ad7148e6799220312de1ef7a7?Expires=1606694400&Signature=ZlTWx3q5C7hnub5195H-uGLHHlcbXnAQDVZ5vrtwLA-LvnzpAK8LGzoJVnf1CSH4DsvLwjlWcYJf29fgLrULTl425LFhcnQjKv0Dq5M2UPs5favAcqCIyPSyYbj1XZc~Jw5CFnCWsyb2mq3kHAiwOdnS2iZOSApbScQsqkM4VVw4UonR44rJOUHGaPYvInijHeC9MyXiUovR4S0f0Gzz3MraWnRdisdbvkV8hGICGmecvtCGa21ndc04-Fol1iqOucatU23di5~Z0Er21bwn1H3SGJ~LKU0PIKA9GeGXInHyuz4hbdCq8JRugZM0CQUMdtKJtZcGpCY7pXkWGrDamQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  height: 740px;
  background-repeat: no-repeat;
  width: 50%;
  background-position: top;
  background-position-y: -11rem;
  background-size: cover;
  margin: 0 0 14px 3px;
}

.collections__two > .contents > h2 {
  margin-top: 0;
}

.collections__gridTwo {
  display: grid;
  width: 49%;
  margin: 0 3px 4px auto;
  height: 740px;
}

.collections__three {
  background: url("https://s3-alpha-sig.figma.com/img/10da/3733/87e325874643dddb9b2794b26e4fc61b?Expires=1606694400&Signature=akzWhX7QFjSufabNVfQ62Oisc~qUGEd8oXBEmCOy53GHbNj~bMl19skhpTsEQEifpZPWg190xQE9a93YyU3MiNGduuOaWvKUZn0LtIEsr8WOEitt6QO5PnHs8zu4LRqqDMZ3ZGZQaiQ47hjrogaTsgud0w6dTeTVhRHOL7EKcKo6a-RVhi0U0H0C0LHDJljxNIkG5bO1Pd1j8Sxu-vyrAimFgqNvUtFwrLWMxmQ0RX834vq7WhEt3FUiJhsmVrquKN43nNl6lw5x6kNOGzBIqY-rXmFwyLIEhmHzW6ACTSeN9qOhqEf5CzYmE2zDfq-u0XBcPxxICBlWfJxfaWS8QQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 0 7px auto;
}

.collections__four {
  background: url("https://s3-alpha-sig.figma.com/img/3e59/1a0c/0922bd4ad7148e6799220312de1ef7a7?Expires=1606694400&Signature=ZlTWx3q5C7hnub5195H-uGLHHlcbXnAQDVZ5vrtwLA-LvnzpAK8LGzoJVnf1CSH4DsvLwjlWcYJf29fgLrULTl425LFhcnQjKv0Dq5M2UPs5favAcqCIyPSyYbj1XZc~Jw5CFnCWsyb2mq3kHAiwOdnS2iZOSApbScQsqkM4VVw4UonR44rJOUHGaPYvInijHeC9MyXiUovR4S0f0Gzz3MraWnRdisdbvkV8hGICGmecvtCGa21ndc04-Fol1iqOucatU23di5~Z0Er21bwn1H3SGJ~LKU0PIKA9GeGXInHyuz4hbdCq8JRugZM0CQUMdtKJtZcGpCY7pXkWGrDamQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: top;
  background-size: cover;
  background-position-y: -21rem;
  background-repeat: no-repeat;
}

/* Latest Collections component styles */

.latestCollections__header {
  font-family: "Carrois Gothic SC", sans-serif;
  display: flex;
  justify-content: center;
}

.latestCollections__header > hr {
  height: 1px;
  background-color: rgb(160, 160, 160);
  margin: 2rem;
}

.latestCollections__content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.collection__content {
  margin: 1.2rem 7px;
}

.collection__content > img {
  height: 320px;
}

.collection__content > p > span {
  color: #e10000;
}

/* Testimonials component styles */

.testimonials {
  padding-top: 1rem;
  background-color: #f9f9f9;
  margin-bottom: 0;
}

.monials {
  display: flex;
  text-align: left;
  justify-content: center;
}

.monial__content > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 0rem;
  position: relative;
  top: 2rem;
  left: 0.3rem;
}

.comment {
  height: 140px;
  background-color: white;
  padding: 1rem;
  width: 330px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.199);
  border-radius: 2rem;
  margin: 0 2.6rem 3rem;
}

/* contact component */

.contact {
  background: url("https://s3-alpha-sig.figma.com/img/f43b/31b2/1730c67889834dc54bffb820cd5bf476?Expires=1606694400&Signature=S3Hy4TZ5-KEff5DxklPcj0WWT-7J1bSeNgO0WQvu6h18Y56dCQgW~mUPrMeOA4qEicJG3P8S06CVijIKOfVbpnEgDK05VTKULxShCtm1f61XjYjM-rZZnFNXi42ZaQPHGebpzfAvaeXCRF9mf18pxnW7Di0YvYYtEEQKk2h8Tqf-E0N-xamkjaeO~JCzDL6D5zV~BtpNV2SHqgPRH-Ux543DATXw~cmnHtk~8UbJfK~-UgEj0zQydWONO1N13R-V6qgcv9ZmuRPXX5eqZ-RYZQqPKhk0Ntj5cPImnB7ZR2NjN5NLc2Ab40zNmBPMTtay4rU~xAB-s2S917ZxDEXvug__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 360px;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  padding: 1rem;
}

.contact__content {
  display: grid;
  justify-content: center;
}

.contact > h2 {
  font-size: 24px;
}

.contact > h3 {
  font-size: 20px;
}

.contact__form > input,
.contact__form > button {
  height: 40px;
}

.contact__form > input {
  width: 360px;
  margin-right: 1rem;
  font-size: 14px;
}

.contact__form > button {
  background-color: #e10000;
  border: none;
  width: 125px;
  font-size: 14px;
  color: #ffffff;
}

.contact__locateUs {
  background-color: #222222;
  width: 160px;
  height: 40px;
  padding: 2px;
  margin: 0;
  box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px 6px 0px 0px;
  position: relative;
  top: 38px;
  left: 700px;
}
