.footer {
  position: fixed;
  bottom: 0;
  color: #bbbbbb;
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;
  padding: 4rem;
  text-align: left;
  width: 100%;
}

.footer__links {
  color: #bbbbbb;
}

.footer__link {
  list-style: none;
  margin-top: 1.3rem;
}

.footer__logo {
  background-color: #e10000;
  color: white;
  height: 4.6rem;
  font-size: 1.3rem;
  padding: 1.2rem;
}

.footer__logoItem {
  list-style: none;
  font-size: 20px;
}

.footer__addressHead {
  color: #bbbbbb;
}

.footer__contacts {
  margin-top: 2rem;
}

.footer__contactContent {
  margin-left: 6px;
}

.footer__logoSocial {
  display: flex;
  justify-content: space-evenly;
}
